<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/posteditor.css">
        <title>create post</title>
    </head>
    <body>

        <div id="left-half">
                <div id="editor"></div> 
                <button type="button" value="" onclick="postIt()">post it</button>
                <button type="button" value="update" onclick="updatePreview()">update preview</button>
        </div>
        <div id="post-preview">
 
            <h1>
                {{user.username}}
            </h1>
            <div id="profile">
           <!-- fix this!!! 
           {{#each posts}}
                <div class="post" id="{{username}}/{{_id}}">
                    <div class="post-header"><a href="/{{username}}/{{_id}}">a post</a> by @<a href="/{{username}}">{{username}}</a></div>
                        <div class="post-inside">
                            {{{post}}}
                        </div>
                    </div>
                    {{/each}}-->
            </div>
        </div>
       </body>

        <button id="toggle-visibility" onclick="toggleEditor()">t<br/>o<br/>g<br/>g<br/>l<br/>e</button>

        <script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace-mode-html.js" type="text/javascript" charset="utf-8"></script>

        <script>
            var editor = ace.edit("editor");
            //editor.setTheme("ace/theme/monokai");
            ace.setValue(`{{{user.profile}}}`);
            editor.getSession().setMode("ace/mode/html");

           function updatePreview() {
                document.getElementById("profile").innerHTML = editor.getValue();
                var arr = document.getElementById("profile").getElementsByTagName('script')
                for (var n = 0; n < arr.length; n++) {
                    console.log(arr);
                    eval(arr[n].innerHTML)//run script inside div
                }
            }

            function toggleEditor() {
                console.log("hi");
                if (document.getElementById("left-half").style.display == "none") {
                    document.getElementById("left-half").style.display = "initial";
                    // document.getElementById("toggle-visibility").innerHTML = "<";
                    document.getElementById("toggle-visibility").style.left = "50%";
                    document.getElementById("post-preview").style.width = "50%";
                }
                else {
                    document.getElementById("left-half").style.display = "none";
                    document.getElementById("toggle-visibility").style.left = "0%";
                    document.getElementById("post-preview").style.width = "100%";
                    // document.getElementById("toggle-visibility").innerHTML = ">";
                }
            }

            function postIt() {
                method = "post"; // Set method to post by default if not specified.

                params = {
                   profile: editor.getValue()
                }
                path = "/edit-profile";

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);

                for(var key in params) {
                    if(params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);

                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }

            updatePreview();
        </script>
    </body>
</html>
