<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
    </head>
    <body>
    <div id="header-garbage">
	<h1>
	    <a href="/">awful.world</a>
	</h1>
	<h3>
	    <a href="/post">post!</a>
	</h3>
	<h5>
	    hey @<a href="/{{user.username}}">{{user.username}}</a>
	    (<a href="/logout">logout</a>)               
	</h5>
        <form id="invite" action="invite/create" method="post">
            <div class="err"> {{error}} </div>
            <input type="submit" value="invite">
        </form>

	{{#each user.invites}}
	    {{this}}&nbsp;
	{{/each}}
    </div>

    <div id='most-things'>
	{{#each posts}}
		<div class="post" id="{{username}}/{{_id}}">
		    <div class="post-header"><a href="/{{username}}/{{_id}}">a post</a> by @<a href="/{{username}}">{{username}}</a></div>
		<div class="post-inside">
		    {{{post}}}
		</div>
	{{/each}}
    </div>
    </body>
</html>
