<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
        <meta property="og:image" content "/pix/og-image.png">
    </head>
    <body>
    <div id="navbar">
        <div id="logo">
            <a href="/">awful world</a><span id="alpha-sup"><sup > [alpha]</sup>
        </div>
        <div id="nav-links">
            @<a href="/{{user.username}}">{{user.username}}</a> 
            <a href="/edit-profile">✎</a>
            <a id="logout-link" href="/logout">(logout)</a>               
            &nbsp;
            <a href="/settings">dashboard</a>
            &nbsp;
            <a href="/post">post</a>
            &nbsp;
        </div>
   </div>

    <div id='main-container'>
	{{#each posts}}
		<div class="post" id="{{_id}}">
		    <div class="post-header">
                <span><a href="/{{username}}/{{_id}}">{{title}}</a> by <a href="/{{username}}">{{username}}</a> 
                    <!-- <a class="report-link" href="/report/{{_id}}">⚐</a> -->
                </span>
             </div>
		
            <div class="post-inside">
                {{{post}}}
            </div>
        </div>
	{{/each}}

    <div id="pagination">
        {{#if prevPage}}
            <a href="/?page={{prevPage}}"> <<< </a>
        {{/if}}

        {{#if nextPage}}
        <a href="/?page={{nextPage}}"> >>> </a>
        {{/if}}
    </div>
    </div>
    </body>
</html>
