<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
    </head>
    <body>
    <div id="header-garbage">
        <div id="logo" class="padthismf">
            <a href="/">🌎awful.world</a>
        </div>
        <div id="post-button" class="padthismf">
            <a href="/post">post</a>
        </div>
        <div id="profile-link" class="padthismf">
            @<a href="/{{user.username}}">{{user.username}}</a>
            &nbsp;
            <a href="/settings">dashboard</a>
            &nbsp;
            <a href="/logout">logout</a>               
        </div>
    </div>

    <div id='most-things'>
	{{#each posts}}
		<div class="post" id="{{username}}/{{_id}}">
		    <div class="post-header">
                <span class="highlight">&nbsp;&nbsp;<a href="/{{username}}/{{_id}}">{{title}}</a> by @<a href="/{{username}}">{{username}}</a> <a href="/report/{{_id}}">⚐</a>
                </span>
             </div>
		
            <div class="post-inside">
                {{{post}}}
            </div>
        </div>
	{{/each}}

    <div id="pagination">
        {{#if prevPage}}
            <a href="/?page={{prevPage}}"> <<< </a>
        {{/if}}

        {{#if nextPage}}
        <a href="/?page={{nextPage}}"> >>> </a>
        {{/if}}
    </div>
    </div>
    </body>
</html>
