<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
    </head>
    <body>
    <div id="header-garbage">
        <div id="logo" class="padthismf highlight">
            <a href="/">awful.world</a>
        </div>
        <div id="post-button" class="padthismf highlight">
            <a href="/post">post</a>
        </div>
        <div id="profile-link" class="padthismf highlight">
            hey @<a href="/{{user.username}}">{{user.username}}</a>
            &nbsp;
            <a href="/settings">⚙</a>
            &nbsp;
            (<a href="/logout">logout</a>)               
        </div>
<!--        <form id="invite" action="invite/create" method="post">
            <div class="err"> {{error}} </div>
            <input type="submit" value="invite">
        </form>

        {{#each user.invites}}
            {{this}}&nbsp;
        {{/each}}
-->

        </div>
    <div id='most-things'>
	{{#each posts}}
		<div class="post" id="{{username}}/{{_id}}">
		    <div class="post-header">
                <span class="highlight"><a href="/{{username}}/{{_id}}">a post</a> by @<a href="/{{username}}">{{username}}</a>
                </span>
             </div>
		
            <div class="post-inside">
                {{{post}}}
            </div>
        </div>
	{{/each}}
    </div>
    </body>
</html>
