<!DOCTYPE HTML>
<html>
    <head>
    </head>
    <body>
        {{{user.profile}}}
      {{#each posts}}
            <div class="post" id="{{username}}/{{_id}}">
                <div class="post-header"><a href="/{{username}}/{{_id}}">{{title}}</a> by @<a href="/{{username}}">{{username}}</a></div>
                    <div class="post-inside">
                        {{{post}}}
                    </div>
                </div>
            {{/each}}
        </div>
   </body>
</html>
