<html>
    <head>
    </head>
    <body>
        <h1>
            {{profileUser.username}}
        </h1>
        <div id="profile">
            {{{profileUser.profile}}}
        </div>
       {{#each posts}}
            <div class="post" id="{{username}}/{{_id}}">
                <div class="post-header"><a href="/{{username}}/{{_id}}">a post</a> by @<a href="/{{username}}">{{username}}</a></div>
                    <div class="post-inside">
                        {{{post}}}
                    </div>
                </div>
            {{/each}}
        </div>
   </body>
</html>
