<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
        <style>
            body {
                background-color: #000;
                color: #fff;
            }
            a {
              color: #fff;
            }
        </style>
    </head>
    <body>
    <div id="navbar">
        <div id="logo">
            <a href="/">aw</a>
        </div>
        <div id="nav-links">
            @<a href="/{{user.username}}">{{user.username}}</a> 
            <a href="/edit-profile">✎</a>
            <a id="logout-link" href="/logout">(logout)</a>               
            &nbsp;
            <a href="/settings">dashboard</a>
            &nbsp;
            <a href="/post">post</a>
            &nbsp;
        </div>
    </div>

    <div id='main-container'>
        <div class="row">
            <div class="column" id="invites-col">
                <h1><i>INVITES</i></h1>
               
                {{#if user.remainingInvites}}
                <form id="invite" action="/invite/create" method="post">
                    <input type="image" name="submit" src="/pix/token.png" border="0" alt="Submit" />
                </form>

                you have {{user.remainingInvites}} invites remaining! click the token to generate an invite link.
                {{else}}
                   <img src="/pix/nomoretoken.png"/>

                   <p>no invites remaining. maybe you'll get more someday.</p>
                {{/if}}
                
                    {{#each invites}}
                        {{#if this.active}}
                        <p><input value=http://awful.world/invite/{{this._id}}>                        
                        {{/if}}
 </p>
                   {{/each}}


            </div>
        <div class="column">
            <center>
            <div class="dash-header"><h1><i>DRAFTS</i></h1></div>
            </center>
                        
                <div class='drafts'>

                    {{#if drafts}}

                       {{#each drafts}}
                           <a href="/post/{{this._id}}">{{this.title}}</a><sup><a class="remove-link" onClick=deleteDraft("{{this._id}}")>[x]</a></sup>
                        <br/>
                       {{/each}}
                    {{else}}
                            you don't have any drafts saved.
                    {{/if}}
                </div>
                <div class="err"> {{error}} </div>
        </div>
 
        </div>

   </div>
    <script>
        function deleteDraft(postId) {
            console.log("hey  ", postId);
            let shouldDelete = confirm("are u rly truly sure u want to delete this draft?");
            if (shouldDelete) { 
                window.location.href = `/post/${postId}/delete`
            }
        }
    </script>
    </body>
</html>
