<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
    </head>
    <body>
    <div id="header-garbage">
        <div id="logo" class="padthismf highlight">
            <a href="/">🌎</a>
        </div>
        <div id="post-button" class="padthismf highlight">
            <a href="/post">post</a>
        </div>
        <div id="profile-link" class="padthismf highlight">
            @<a href="/{{user.username}}">{{user.username}}</a>
            &nbsp;
            <a href="/settings">⚙</a>
            &nbsp;
            <a href="/logout">🚪</a>               
        </div>
    </div>
    <div id='most-things'>
        <center>
            you have {{user.remainingInvites}} invites remaining!
           
                {{#each user.invites}}
                        <br/>
                        <input value=http://awful.world/invite/{{this}}>
                {{/each}}

            {{#if user.remainingInvites}}
            <form id="invite" action="/invite/create" method="post">
                <input type="submit" value="invite">
            </form>
            {{/if}}


                   
            <form id="invite" action="/edit-profile" method="get">
                <input type="submit" value="edit profile">
            </form>

            
            <div class='drafts'>
                {{#each drafts}}
                <a href="/post/{{this._id}}">{{this.title}}</a>
                    <br/>
                {{/each}}
            </div>
            <div class="err"> {{error}} </div>
       </center>
    </div>
    </body>
</html>
