<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="shortcut icon" type="image/png" href="/pix/favicon2.png"/>
        <title>awful.world</title>
    </head>
    <body>
    <div id="header-garbage">
        <div id="logo" class="padthismf highlight">
            <a href="/">🌎</a>
        </div>
        <div id="post-button" class="padthismf highlight">
            <a href="/post">post</a>
        </div>
        <div id="profile-link" class="padthismf highlight">
            @<a href="/{{user.username}}">{{user.username}}</a>
            &nbsp;
            <a href="/settings">⚙</a>
            &nbsp;
            <a href="/logout">🚪</a>               
        </div>
<!--        <form id="invite" action="invite/create" method="post">
            <div class="err"> {{error}} </div>
            <input type="submit" value="invite">
        </form>

        {{#each user.invites}}
            {{this}}&nbsp;
        {{/each}}
-->

        </div>
    <div id='most-things'>
        
        <form id="invite" action="invite/create" method="post">
        <div class="err"> {{error}} </div>
        <input type="submit" value="invite">
        </form>

        <ul id='invites'>
            <span>copy+paste these to someone you trust</span>
            {{#each user.invites}}
                <li>
                    <input value=http://awful.world/invite/{{this}}>
                </li>
            {{/each}}
        </ul>
    </div>
    </body>
</html>
