<html>
    <head>
    </head>
    <body>
       <div id='most-things'>
            <div class="post" id="{{username}}/{{_id}}">
                <div class="post-header"><a href="/{{username}}/{{_id}}">a post</a> by @<a href="/{{username}}">{{username}}</a></div>
                    <div class="post-inside">
                        {{{post}}}
                    </div>
                </div>
        </div>
    </body>
</html>
